@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.1s;
    color: white;
}



.hide{
    display: none!important;
}





body{
    background-repeat: no-repeat;
    
    position: relative;
}




















.cities-slider-viewport{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



.cities-slider{
    width: fit-content;
    height: 100vh;

    display: flex;
    /* flex-direction: row-reverse; */
    background: linear-gradient(192.05deg, #456bc5 0%, #3e62b6 100%);

}


.cities-slider-page{
    width: 100vw;
    height: 100%;

    overflow: auto;
}

.cities-slider-page div{
}














.current-forecast{
    height: 33vh;

    text-align: center;
    font-weight: 300;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 4vh 0;
    position: sticky;
    top: 0;
    left: 0;

    background: linear-gradient(192.05deg, #456bc5 0%, #3e62b6 300%);

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0);
    transition: 0.2s;
}


.current-forecast img{
    width: 35px;
    position: absolute;
    /* background: none; */
    /* border: none; */
    z-index: 100;
    left: 5%;
}



.current-forecast h3{
    font-size: 3.5vh;
    font-weight: 300;
}

.current-forecast h1{
    font-size: 12vh;
    font-weight: 200;
}

.current-forecast h1::after{
    content: "°";
    position: absolute;
}

.current-forecast p{
    font-size: 2vh;
    font-weight: 400;
}















.hourly-forecast{
    width: 95%;
    background-color: rgba(0, 0, 0, 0.15);

    margin: 5vh auto;
    padding: 1.5vh 2vh;

    border-radius: 15px;
}


.hourly-forecast hr, .daily-forecast hr{
    margin: 1vh 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
}



.hourly-forecast div:last-of-type{
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
}

.hourly-forecast div:last-of-type .hourly-forecast-card{
    height: 12vh;
    min-height: 110px;
    min-width: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 5%;
    overflow: hidden;
}

.hourly-forecast div:last-of-type .hourly-forecast-card img{
    width: 60%;
}















.daily-forecast{
    width: 90%;
    background-color: rgba(0, 0, 0, 0.15);

    margin: 5vh auto;
    padding: 1vh 1.5vh;

    border-radius: 15px;
}

.daily-forecast > div:first-of-type{
    height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.9em;
}

.daily-forecast > div:first-of-type img{
    height: 25px;
    margin-right: 5%;
}




.daily-forecast > div:last-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.daily-forecast .daily-forecast-card{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily-forecast .daily-forecast-card h2{
    width: 30%;
    font-weight: 400;
    font-size: 1.3em;
}


.daily-forecast .daily-forecast-card img{
    height: 90%;
}


.daily-forecast .daily-forecast-card .temp{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily-forecast .daily-forecast-card .temp p{
    width: 50px;
}

.daily-forecast .daily-forecast-card .temp .temp-scale{
    width: 40%;
    height: 5px;
    border-radius: 15px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    background: linear-gradient(to right, 
    #264CFF,
    #3FA0FF,
    #72D8FF,
    #AAF7FF,
    #E0FFFF,
    #FFFFBF,
    #FFE099,
    #FFAD72,
    #F76D5E,
    #D82632,
    #A50021)
}


.daily-forecast .daily-forecast-card .temp .temp-scale .left{
    background-image: radial-gradient(3px 3px at right, transparent 1000px, rgba(0, 0, 0, 1) 0px);
}







.daily-forecast .daily-forecast-card .temp .temp-scale .left, .daily-forecast .daily-forecast-card .temp .temp-scale .right{
    height: 110%;
}


.daily-forecast .daily-forecast-card .temp .temp-scale .temp-scale-gradient{
    height: 100%;
    border-radius: 15px;
}


.daily-forecast .daily-forecast-card .temp .temp-scale .right{
    background-image: radial-gradient(10px 10px at left, transparent 3px, rgb(0, 0, 0) 2px);
}




















.city-control{
    width: 100%;
    height: 100vh;

    padding: 5%;
    padding-top: 8%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    
    background-color: black;
    
    transform: translateX(100%);
    transition: 0.7s;

    display: flex;
    flex-direction: column;
}


.city-control > img{
    width: 35px;
}



.city-control > h1{
    font-size: 8.5vw;
    font-weight: 300;
    text-align: center;

    margin: 5% 0;
}



.city-control > .input{
    width: 95%;
    height: 40px;

    margin: 0 auto;

    display: flex;
    align-items: center;

    position: relative;
}


.city-control > .input img{
    width: 20px;
    position: absolute;
    z-index: 5;
    left: 4%;

}



.city-control > .input input{
    width: 100%;
    height: 100%;

    background-color: rgb(38, 38, 38);

    color: white;
    
    padding-left: 13%;
    
    border-radius: 40px;
    border: none;
    outline: none;
}



.city-control > .cities{
    margin-top: 5%;
}


.city-control > .cities > .card{
    width: 100%;
    height: 100px;

    background: linear-gradient(90deg, #456bc5 0%, #3e62b6 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5% 0;
    padding: 0 7%;

    border-radius: 15px;
}


.city-control > .cities > .card div{
    display: flex;
    flex-direction: column;
}



.city-control > .search-results{
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.city-control > .search-results .search-result{
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}


.city-control > .search-results .search-result h2{
    font-weight: 300;
}


.city-control > .search-results .search-result img{
    width: 20px;
}
